<div class="container mt-5">
<h1>My Basket</h1>
  <div class="row">
    <% @basket.orders.each do |order| %>
      <div class="col-12">
        <div class="card-product mb-4">
          <div class="card-product-infos">
            <div>
              <h2 class= "mb-3"><%= order.product.name %></h2>
              <p style="font-size: 16px;">R$ <%= order.product.price %> - Qty: 1</p>
              <%= link_to "Delete",
                order_path(order),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-warning mt-2" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-start pb-3">
        <%= link_to 'Back', products_path, class: "btn btn-primary" %>
  </div>
</div>