<div class="banner">
    <% if current_user %>
      <div class="container">
        <p>Welcome on our page!</p>
        <p>Hello, <%= current_user.first_name %>!</p>
        <% if policy(Product).create? %>
          <%= link_to 'Add your product', new_product_path, class: "btn btn-dark mt-4" %>
        <% end %>
        <% if policy(Basket).show? %>
          <%= link_to 'See my basket', basket_path(current_user.basket), class: "btn btn-dark mt-4" %>
        <% end %>
      </div>
    <% end %>
</div>
