.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/QnNqGoCnBg0/1600x900);
  background-size: cover;
  background-position: center;
  padding: 80px;

  h1 {
    font-size: 40px;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.8);
    }

    h2 {
      font-size: 40px;
      margin: 0;
      color: #ffffff;
      text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.8);
      }
}
