.footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
 

  color: rgba(0,0,0,0.3);
  background-image: url("https://images.unsplash.com/photo-1614081781513-d0c6f10b0366?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJhc2tldCUyMGRldGFpbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F8EABB;
  opacity: 0.5;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $dark;
  opacity: 1;
}
.footer .fa-copyright {

  color:#F8EABB

}
.footer-copyright {
  color:#F8EABB ;
  opacity: 0.7;
}

