.navbar-lewagon {
  justify-content: space-between;

}
#link-color-cream {
  color: #7A654F;
}

.navbar-light .navbar-nav .nav-link {
    color: #7A654F;
    font-size: 20px;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link.active {
  color:#7A654F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
