<div class="container mt-5">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card-product mb-4">
          <%= image_tag "bread.jpg", alt: product.name %>
          <div class="card-product-infos">
            <div>
              <h2 class= "mb-3"><%= link_to product.name, product_path(product), class: "text-decoration-none" %></h2>
              <p><%= product.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-start pb-3">
        <%= link_to 'Add a New product', new_product_path, class: "btn btn-outline-primary" %>
  </div>
</div>

